* {
  margin: 0;
  padding: 1%;
  box-sizing: border-box;
}

body {
  font-family: "Bokor";
  display: flex;
  justify-content: center; /* pour centrer horizontalement */
  align-items: flex-start; /* aligne en haut */
}

.introtext {
  font-size: 70px;
  color: rgb(104, 11, 11);
  text-align: center;
  text-shadow: 2px 2px #000;
  white-space: nowrap;
}

.division1 {
  display: flex;
  width: 300px;
  height: 300px;
  margin-top: 50px;
  padding: 3px;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}


